<div id="container">
  <div class="wheel" #wheel>
    <div class="outerRim"></div>

    <div id="sect1" class="sect"><span class="single">0</span>
      <div class="block"></div>
    </div>
    <div id="sect2" class="sect"><span class="double">32</span>
      <div class="block"></div>
    </div>
    <div id="sect3" class="sect"><span class="double">15</span>
      <div class="block"></div>
    </div>
    <div id="sect4" class="sect"><span class="double">19</span>
      <div class="block"></div>
    </div>
    <div id="sect5" class="sect"><span class="single">4</span>
      <div class="block"></div>
    </div>
    <div id="sect6" class="sect"><span class="double">21</span>
      <div class="block"></div>
    </div>
    <div id="sect7" class="sect"><span class="single">2</span>
      <div class="block"></div>
    </div>
    <div id="sect8" class="sect"><span class="double">25</span>
      <div class="block"></div>
    </div>
    <div id="sect9" class="sect"><span class="double">17</span>
      <div class="block"></div>
    </div>
    <div id="sect10" class="sect"><span class="double">34</span>
      <div class="block"></div>
    </div>
    <div id="sect11" class="sect"><span class="single">6</span>
      <div class="block"></div>
    </div>
    <div id="sect12" class="sect"><span class="double">27</span>
      <div class="block"></div>
    </div>
    <div id="sect13" class="sect"><span class="double">13</span>
      <div class="block"></div>
    </div>
    <div id="sect14" class="sect"><span class="double">36</span>
      <div class="block"></div>
    </div>
    <div id="sect15" class="sect"><span class="double">11</span>
      <div class="block"></div>
    </div>
    <div id="sect16" class="sect"><span class="double">30</span>
      <div class="block"></div>
    </div>
    <div id="sect17" class="sect"><span class="single">8</span>
      <div class="block"></div>
    </div>
    <div id="sect18" class="sect"><span class="double">23</span>
      <div class="block"></div>
    </div>
    <div id="sect19" class="sect"><span class="double">10</span>
      <div class="block"></div>
    </div>
    <div id="sect20" class="sect"><span class="single">5</span>
      <div class="block"></div>
    </div>
    <div id="sect21" class="sect"><span class="double">24</span>
      <div class="block"></div>
    </div>
    <div id="sect22" class="sect"><span class="double">16</span>
      <div class="block"></div>
    </div>
    <div id="sect23" class="sect"><span class="double">33</span>
      <div class="block"></div>
    </div>
    <div id="sect24" class="sect"><span class="single">1</span>
      <div class="block"></div>
    </div>
    <div id="sect25" class="sect"><span class="double">20</span>
      <div class="block"></div>
    </div>
    <div id="sect26" class="sect"><span class="double">14</span>
      <div class="block"></div>
    </div>
    <div id="sect27" class="sect"><span class="double">31</span>
      <div class="block"></div>
    </div>
    <div id="sect28" class="sect"><span class="single">9</span>
      <div class="block"></div>
    </div>
    <div id="sect29" class="sect"><span class="double">22</span>
      <div class="block"></div>
    </div>
    <div id="sect30" class="sect"><span class="double">18</span>
      <div class="block"></div>
    </div>
    <div id="sect31" class="sect"><span class="double">29</span>
      <div class="block"></div>
    </div>
    <div id="sect32" class="sect"><span class="single">7</span>
      <div class="block"></div>
    </div>
    <div id="sect33" class="sect"><span class="double">28</span>
      <div class="block"></div>
    </div>
    <div id="sect34" class="sect"><span class="double">12</span>
      <div class="block"></div>
    </div>
    <div id="sect35" class="sect"><span class="double">35</span>
      <div class="block"></div>
    </div>
    <div id="sect36" class="sect"><span class="single">3</span>
      <div class="block"></div>
    </div>
    <div id="sect37" class="sect"><span class="double">26</span>
      <div class="block"></div>
    </div>

    <div class="innerRim"></div>

    <div class="ballTrack" #ballTrack>
      <div class="ball"></div>
    </div>

    <div class="darkerFields"></div>
    <div class="innerCircle"></div>
  </div>

</div>

<div id="centerBtn">
  <button (click)="spinWheel()" class="spinBtn button-77">SPIN</button>
</div>
